<!-- Header template -->

<!-- header variables as mentioned in partials.js file is used to get data into header template -->

<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="box-shadow: 0px 10px 5px #a09f9f80;
  -webkit-box-shadow: 0px 5px 5px #27272780;
  -moz-box-shadow: 0px 5px 5px #27272780;
  padding: 0.1rem 5.8rem;
">
    <a class="navbar-brand" href="/">
      <img style="width:181px; height: 60px;" src="{{header.logo.image.url}}" alt="">
    </a>    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {% for menuItems in header.navigation_section.navigation_bar %}
        <li class="nav-item">
          <a class="nav-link" style="color: black; font-weight: bold; font-size: 23px;" href="{{menuItems.link.href}}"
            >{{menuItems.title}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
